<h1>Your order has been placed</h1>
<a asp-controller="Home" asp-action="Index" class="btn btn-success">Go Back to the Home Page</a>
<a asp-controller="Order" asp-action="Index" class="btn btn-success">View Your Order History</a>