@using Group14_BevoBooks.Models
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

<h1>Run Reports</h1>
<a asp-controller="Report" asp-action="AllBooksSold" class="btn btn-info">All Books Sold</a>
<a asp-controller="Report" asp-action="AllOrders" class="btn btn-info">All Orders</a>
<a asp-controller="Report" asp-action="AllCustomers" class="btn btn-info">All Customers</a>
<a asp-controller="Report" asp-action="Totals" class="btn btn-info">Totals</a>