@model Group14_BevoBooks.Models.BookOrder

@{
    ViewData["Title"] = "Book Arrival";
}

<h2>Change Status</h2>

<h4>BookOrder</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="BookCheckIn">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input name="id" type="hidden" asp-for="BookOrderID" />
            <div class="form-group">
                <label for="NewQuantity" class="col-2 col-form-label">Quantity Received</label>
                <div class="col-10">
                    <input class="form-control" name="NewQuantity" type="number" id="NewQuantity">
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="BookOrderList">Back to List</a>
</div>
