<h1>The Supplier Order Has Been Placed</h1>
<p>Your book order has been sent to the supplier</p>
<a asp-controller="BookOrder" asp-action="BookOrderList" class="btn btn-success">Supplier Order List</a>